* {
  font-family: 'Poppins', sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 60px;
  color: #fff;
  font-weight: 600;
  margin: 0px;
}

h2 {
  font-weight: 500;
  color: #fff;
  margin: 0px;
}

h3 {
  font-size: 20px;
  color: #fff;
  margin: -20px 0px 0px 0px;
  font-weight: 200;
}

h5 {
  font-size: 40px;
  font-weight: 600;
  color: #000;
  margin: 0px;
}

p {
  font-size: 20px;
  color: #000;
  font-weight: 500;
}

th {
  font-size: 20px;
  color: #fff;
  font-weight: 200;
  text-align: left;
}

header {
  height: 100vh;
  width: 100vw;
  background: black;
  overflow: hidden;
}

input {
  border-radius: 6px;
  margin: 10px 15px 10px 15px;
  text-align: center;
  border: #fff;
  height: 25px;
  width: 150px;
}

#Video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0.5;
}

.geschlecht {
  margin-left: 7.5%;
}

.geschlecht input {
  margin: 0;
  margin-top: 15px;
  margin-left: 15px;
  width: 2%;
  height: 15px;
}

#berechnen {
  width: 10%;
  height: 25px;
}

/* Infotext zu Alkohol am unteren Seitenende */
footer {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

h4 {
  font-size: 20px;
  color: #fff;
  font-weight: 200;
  margin-top: 0;
}

main {
  position: fixed;
  bottom: 35%;
  color: #f1f1f1;
  width: 100%;
  padding-left: 40%;
}

header .logo {
  position: fixed;
  top: 0;
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

/* The Modal (background) */
.popup {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 15%;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

/* Modal Content/Box */
.popup-inhalt {
  background-color: #fefefe;
  margin: auto;
  padding: 2%;
  border: 1px solid #888;
  width: 30%;
}

.popup-inhalt p {
  margin-right: 10%;
  line-height: 120%;
  font-size: 12px;
  margin-bottom: 10%;
}

/* The Close Button */
.schliessen {
  color: #aaa;
  float: right;
  font-size: 36px;
  font-weight: bold;
}

.schliessen:hover,
.schliessen:focus {
  color: black;
  cursor: pointer;
}